* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/PROGRESS -text
/README -text
/apertium-fra-ina.fra-ina.dix -text
/apertium-fra-ina.fra-ina.lrx -text
/apertium-fra-ina.fra-ina.t1x -text
/apertium-fra-ina.fra-ina.t2x -text
/apertium-fra-ina.fra-ina.t3x -text
/apertium-fra-ina.ina-fra.lrx -text
/apertium-fra-ina.ina-fra.t1x -text
/apertium-fra-ina.ina-fra.t2x -text
/apertium-fra-ina.ina-fra.t3x -text
/autogen.sh -text
/config.sh -text
/configure.ac -text
/latest-pending.results -text
/latest-regression.results -text
/modes.xml -text
/pending-tests -text
/regression-tests -text
/update-latest -text
/wiki-tests -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
