* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fra-ina.fra-ina.dix -text
/apertium-fra-ina.fra-ina.lrx -text
/apertium-fra-ina.fra-ina.t1x -text
/apertium-fra-ina.fra-ina.t2x -text
/apertium-fra-ina.fra-ina.t3x -text
/apertium-fra-ina.ina-fra.lrx -text
/apertium-fra-ina.ina-fra.t1x -text
/apertium-fra-ina.ina-fra.t2x -text
/apertium-fra-ina.ina-fra.t3x -text
apertium-ia/.deps/.d -text
apertium-ia/AUTHORS -text
apertium-ia/COPYING -text
apertium-ia/ChangeLog -text
apertium-ia/INSTALL -text
apertium-ia/Makefile -text
apertium-ia/Makefile.am -text
apertium-ia/Makefile.in -text
apertium-ia/NEWS -text
apertium-ia/README -text
apertium-ia/aclocal.m4 -text
apertium-ia/ap_include.am -text
apertium-ia/apertium-ia.ia.acx -text
apertium-ia/apertium-ia.ia.dix -text
apertium-ia/apertium-ia.ia.rlx -text
apertium-ia/apertium-ia.pc -text
apertium-ia/apertium-ia.pc.in -text
apertium-ia/apertium-ia.post-ia.dix -text
apertium-ia/autogen.sh -text
apertium-ia/autom4te.cache/output.0 -text
apertium-ia/autom4te.cache/output.1 -text
apertium-ia/autom4te.cache/requests -text
apertium-ia/autom4te.cache/traces.0 -text
apertium-ia/autom4te.cache/traces.1 -text
apertium-ia/config.log -text
apertium-ia/config.status -text
apertium-ia/configure -text
apertium-ia/configure.ac -text
apertium-ia/ia.autogen.att.gz -text
apertium-ia/ia.autogen.bin -text
apertium-ia/ia.automorf.att.gz -text
apertium-ia/ia.automorf.bin -text
apertium-ia/ia.autopgen.bin -text
apertium-ia/ia.prob -text svneol=unset#unset
apertium-ia/ia.rlx.bin -text
apertium-ia/install-sh -text
apertium-ia/missing -text
apertium-ia/modes.xml -text
apertium-ia/modes/ia-disam.mode -text
apertium-ia/modes/ia-gener.mode -text
apertium-ia/modes/ia-morph.mode -text
apertium-ia/modes/ia-tagger.mode -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
